.about {
  position: relative;
  overflow: hidden;
  background-color: $color-eastbay;
  height: 580px;
  &__figure {
    position: absolute;
    top: 0;
    left: -2%;
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__text {
    width: 45%;
    transform: translateY(50px);
  }
  &__title {
    margin-bottom: $second-offset;
    color: $color-white;
  }
  &__descr {
    font: $middle-book;
    color: $color-white;
  }
  &__quote {
    display: inline-block;
    margin-bottom: $second-offset;
    font: inherit;
  }

  &__author {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font: $prehigh-regular;
    line-height: 22px;
    font-style: normal;
    color: $color-white;
    &::before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 3px;
      margin-right: $second-offset;
      background-color: $color-white;
    }
  }

  &__image {
    position: absolute;
    right: 50px;
    top: -150px;
    flex-shrink: 0;
    overflow: hidden;
    transform: rotate(15deg);
    width: 530px;
    height: 920px;

    img {
      max-width: none;
      position: absolute;
      width: 150%;
      height: 100%;
      top: 0;
      left: 50%;
      transform: rotate(-15deg) translateX(-50%);
    }
  }
}
