.faq {
  padding: $big-offset;

  &__list {
    margin: 0 auto;
    max-width: 880px;
  }

  @include mobile {
    padding: $main-offset $second-offset;
  }
}

.faq-accordion {
  border-top: 1px solid $color-main;
  border-bottom: 1px solid $color-main;

  &__icon {
    flex-shrink: 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("../img/cross.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-out;
    transform: rotate(45deg);

    @include mobile {
      width: 20px;
      height: 20px;
    }
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
    font: $prehigh-regular;
    text-align: left;
    color: $color-main;
    background-color: transparent;
    cursor: pointer;

    @include mobile {
      font-size: 15px;
    }
  }

  &__content {
    overflow: hidden;
    padding-right: 70px;
    padding-bottom: 0;
    max-height: 0;
    box-sizing: content-box;
    font: $middle-book;
    color: rgba(36, 36, 36, 0.5);
    opacity: 0;
    transition: all 0.3s ease-out;
    will-change: max-height;
  }

  &:not(:first-child) {
    margin-top: -1px;
  }
}

.accordion__control {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
}

.open .faq-accordion__icon {
  transform: rotate(90deg);
}

.open .faq-accordion__content {
  padding-bottom: 18px;
  opacity: 1;
}
