.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: $color-eastbay;
  &__container {
    $paddings: 15px;
    align-items: center;
    padding: $second-offset $paddings;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: calc(100% - $paddings * 2);
      height: 1px;
      background: $color-border;
      transform: translateX(-50%);
    }
  }
  &__left {
    grid-column: 2 span;
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span;

    @include tablet {
      align-items: center;
    }

    @include mobile {
      grid-column: 2 span;
    }
  }

  &__nav {
    transition: transform 0.3s ease-in-out;
    @include tablet {
      transform: translateX(100%);
      position: fixed;
      right: 0;
      top: 0;
      z-index: 10;
      height: 100%;
      width: 100%;
      background-color: $color-eastbay;
      padding: $big-offset 0;
      overflow-y: auto;

      .nav__list {
        flex-direction: column;
        align-items: center;
      }
      .nav__item {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        margin-right: 0 !important;
      }
      .nav__link {
        font: $prehigh-regular;
      }
    }
  }
}

.burger {
  @include burger;
  display: none;

  @include tablet {
    display: block;
    z-index: 1000;
    color: $color-white;
    --burger-line-height: 3px;
    height: 23px;
    transform: translateX($second-offset);
  }
}

.menu--active {
  transform: translateX(0);
}
