.product {
  border-radius: 4px;
  overflow: hidden;
  &__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    @include small-tablet {
      padding: $small-offset $small-offset 0px 0px;
      align-items: flex-start;
      justify-content: flex-end;
      background: none;
      visibility: visible;
      opacity: 1;
    }
  }

  &__image {
    background-color: $color-eastbay-dark;
    border: 1px solid $color-white;
    border-radius: 4px;
    padding: $small-offset;
    position: relative;
    margin-bottom: $small-offset;
    width: 100%;
    max-height: 293px;
    img {
      display: block;
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    @include for-desktop {
      &:hover {
        .product__btns {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: $small-offset;
    font: $middle-book;
    color: $color-white;
  }

  &__price {
    font: $prehigh-regular;
    color: $color-white;
  }

  &__btns {
    &--active {
      opacity: 1;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: $color-main;
    border-radius: 100%;
    outline: none;
    transition: background-color 0.3s ease-in-out;
    &:first-child {
      margin-right: $main-offset;

      @include mobile {
        display: none;
      }
    }

    svg {
      width: 30px;
      height: 30px;
      object-fit: cover;
      fill: $color-white;
    }

    &:focus {
      background-color: $color-main-hover;
    }

    @include for-desktop {
      &:hover {
        background-color: $color-main-hover;
      }
    }

    &:active {
      background-color: $color-main-hover;
    }

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.mini-product {
  display: flex;
  align-items: center;
  padding: $small-offset $second-offset;

  &__image {
    flex-shrink: 0;
    margin-right: $small-offset;
    width: 100px;
    height: 100px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mobile {
      width: 60px;
      height: 60px;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
    font: $small-book;
    line-height: 20px;
    color: $color-white;
  }

  &__text {
    margin-right: auto;
    max-width: 268px;
    color: $color-white;
  }

  &__price {
    font: $prehigh-regular;
    font-weight: 700;
    color: $color-white;
  }

  &__delete {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    font-size: 0;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: $color-grey;
      object-fit: cover;
      pointer-events: none;
    }
  }

  @include mobile {
    padding: $small-offset;
  }
}

.cart-modal {
  .mini-product {
    display: flex;
    align-items: center;
    padding: 0;

    &__image {
      flex-shrink: 0;
      margin-right: $small-offset;
      width: 80px;
      height: 45px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    &__title {
      margin: 0;
      margin-bottom: $small-offset;
      font: $small-book;
      line-height: 20px;
    }

    &__text {
      margin-right: auto;
      max-width: 290px;
    }

    &__price {
      font: $prehigh-regular;
      font-weight: 700;
      color: $color-white;
    }

    &__delete {
      width: auto;
      height: auto;
      font: $small-book;
      line-height: 14px;
      color: $color-grey;

      svg {
        display: none;
      }
    }

    @include mobile {
      display: block;
    }
  }
}
