.product {
  border-radius: 4px;
  overflow: hidden;
  &__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &__image {
    position: relative;
    margin-bottom: $small-offset;
    width: 100%;
    max-height: 293px;
    img {
      display: block;
      width: 100%;
      height: 291px;
      object-fit: cover;
    }

    &:hover {
      .product__btns {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: $small-offset;
    font: $middle-book;
    color: $color-main;
  }

  &__price {
    font: $prehigh-regular;
    color: $color-main;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: $color-main;
    border-radius: 100%;
    transition: background-color 0.3s ease-in-out;
    &:first-child {
      margin-right: $main-offset;
    }
    svg {
      width: 30px;
      height: 30px;
      fill: $color-white;
      object-fit: cover;
    }
    &:hover {
      background-color: $color-main-hover;
    }
  }
}
