.quiz {
  padding: $big-offset 0;
  &__content {
    border-radius: 4px;
    padding: $main-offset 100px;
    background-color: $color-bg;
  }
  &__title {
    margin-bottom: $second-offset;
  }

  &__descr {
    color: $color-jambo;
    border-bottom: 1px solid currentColor;
    margin: 0;
    padding: 0 0 $small-offset 0;
    font: $middle-book;
  }
}

.quiz-question {
  padding: $second-offset 0;
  &__title {
    margin: 0;
    margin-bottom: $second-offset;
    font: $prehigh-book;
    color: $color-main;
  }
  &__answers {
    padding-bottom: $main-offset;
    display: grid;
    grid-auto-rows: 155px;
    grid-template-columns: repeat(3, 1fr);
    gap: $second-offset 70px;
  }

  &__item {
    img {
      margin-bottom: $small-offset;
    }
  }
  &__count {
    font: $middle-book;
    color: $color-jambo;
  }
}

.quiz-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-jambo;
  padding-top: $second-offset;
}

.asd {
  display: none;
}
