.quiz {
  padding: $big-offset 0;
  &__content {
    border-radius: 4px;
    padding: $main-offset 100px;
    background-color: $color-eastbay-dark;

    @include small-tablet {
      padding: $main-offset;
    }

    @include mobile {
      padding: $second-offset;
    }
  }
  &__title {
    margin-bottom: $second-offset;
    color: $color-white;

    @include mobile {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__descr {
    color: $color-white;
    border-bottom: 1px solid currentColor;
    margin: 0;
    padding: 0 0 $small-offset 0;
    font: $middle-book;
  }
}

.quiz-question {
  padding: $second-offset 0;
  &__title {
    margin: 0;
    margin-bottom: $second-offset;
    font: $prehigh-book;
    color: $color-white;
  }

  &__label {
    display: inline-block;
    @include mobile {
      width: 100%;
    }
  }

  &__message {
    border: none;
    width: 500px;

    background-color: $color-white;
    color: $color-black;
    padding: $small-offset;
    border-radius: 4px;
    resize: none;
    outline: none;

    @include mobile {
      width: 100%;
    }
  }

  &__answers {
    padding-bottom: $main-offset;
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: $second-offset 70px;

    @include small-tablet {
      gap: $second-offset;
      grid-auto-rows: auto;
    }

    @include mobile {
      display: block;
    }
  }

  &__item {
    img {
      margin-bottom: $small-offset;
    }
    @include mobile {
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
  &__count {
    font: $middle-book;
    color: $color-white;
  }
}

.quiz-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-white;
  padding-top: $second-offset;
}

.last-question {
  display: none;
  padding-top: $second-offset;
  &__form {
    position: relative;
    max-width: 500px;
    border-radius: 4px;
  }

  &__decorate {
    display: none;
  }

  &__title {
    margin: 0;
    margin-bottom: $small-offset;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: $color-white;
  }

  &__descr {
    margin: 0;
    margin-bottom: $second-offset;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: $color-white;
  }

  &__btn {
    width: 100%;
  }
}
