.quiz {
  padding: $big-offset 0;
  &__content {
    border-radius: 4px;
    padding: $main-offset 100px;
    background-color: $color-bg;
  }
  &__title {
    margin-bottom: $second-offset;
  }

  &__descr {
    color: $color-jambo;
    border-bottom: 1px solid currentColor;
    margin: 0;
    padding: 0 0 $small-offset 0;
    font: $middle-book;
  }
}

.quiz-question {
  padding: $second-offset 0;
  &__title {
    margin: 0;
    margin-bottom: $second-offset;
    font: $prehigh-book;
    color: $color-main;
  }

  &__message {
    border: none;
    width: 500px;
    height: 350px;

    background-color: $color-white;
    color: $color-cameo;
    padding: $second-offset;
    border-radius: 4px;
    resize: none;
  }

  &__answers {
    padding-bottom: $main-offset;
    display: grid;
    grid-auto-rows: 155px;
    grid-template-columns: repeat(3, 1fr);
    gap: $second-offset 70px;
  }

  &__item {
    img {
      margin-bottom: $small-offset;
    }
  }
  &__count {
    font: $middle-book;
    color: $color-jambo;
  }
}

.quiz-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-jambo;
  padding-top: $second-offset;
}

.last-question {
  display: none;
  padding-top: $second-offset;
  &__form {
    position: relative;
    max-width: 650px;
    border-radius: 4px;
    background: $color-cameo;
    padding: $main-offset;
  }

  &__decorate {
    position: absolute;
    top: -2px;
    right: -185px;
  }

  &__title {
    margin: 0;
    margin-bottom: $small-offset;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: $color-white;
  }

  &__descr {
    margin: 0;
    margin-bottom: $second-offset;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: $color-white;
  }

  &__input {
    max-width: 500px;
  }

  &__btn {
    max-width: 500px;
  }
}
