.sizes-table {
  border-collapse: collapse;
  width: 100%;
  caption {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  td {
    border: 2px solid $color-cameo;
    padding: 17px 5px;
    font: $middle-book;
    text-align: center;
    color: $color-white;
    cursor: pointer;
  }
}
