<section class="about about-scroll">
  <img
    loading="lazy"
    src="img/about-figure.svg"
    class="about__figure image"
    alt="About-figure"
    aria-hidden="true"
  />

  <div class="container about__container">
    <div class="about__text">
      <div class="about__descr">
        <q class="about__quote">
          Когда вы идете к цели, то на вашем пути встает преграда. Я сталкивался
          с ней, каждый сталкивался. Но препятствия не должны вас останавливать.
          Столкнувшись со стеной, не поворачивайте назад, не отступайте. Найдите
          способ преодолеть этот барьер, поработайте над ним.</q
        >
        <cite class="about__author">Майкл Джордан ©</cite>
      </div>
    </div>

    <div class="about__image">
      <picture>
        <source srcset="img/about-img.avif" type="image/avif" />
        <source srcset="img/about-img.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/about-img.jpg"
          class="image"
          alt="Картинка about"
          aria-hidden="true"
        />
      </picture>
    </div>
  </div>
</section>
