<section class="faq">
  <div class="container faq__container">
    <h2 class="title faq__title">Часто задаваемые вопросы</h2>
    <ul class="faq__list list-reset">
      <li class="faq-accordion">
        <button class="faq-accordion__control btn-reset" aria-expanded="false">
          <span class="faq-accordion__title">Как оформить заказ</span>
          <span class="faq-accordion__icon"></span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          <p>
            Оформить заказ можно в телефонном режиме, или же выбрать на сайте
            интересующий товар и оформить заказ, нажав кнопку «Купить».
          </p>
        </div>
      </li>
      <li class="faq-accordion">
        <button class="faq-accordion__control btn-reset" aria-expanded="false">
          <span class="faq-accordion__title"
            >Что делать, если я получил товар в поврежденном состоянии?</span
          >
          <span class="faq-accordion__icon"></span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          <p>
            При получении товара на службе доставки, его обязательно необходимо
            проверить на внешние повреждения. В случае обнаружения поврежденного
            товара, требуется оформить акт, согласно установленным правилам
            курьерской службы. После чего обязательно уведомить нас о
            сложившейся ситуации.
          </p>
        </div>
      </li>

      <li class="faq-accordion">
        <button class="faq-accordion__control btn-reset" aria-expanded="false">
          <span class="faq-accordion__title"
            >Высокого ли качества, продаваемые нами товары?</span
          >
          <span class="faq-accordion__icon"></span>
        </button>
        <div class="faq-accordion__content" aria-hidden="true">
          <p>
            Да, безусловно! Мы являемся официальными дилерами всех
            представленных в нашей сети торговых марок. Мы не продаем
            неоригинальные и контрафактные товары.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
