<header class="header fix-block">
  <div class="container grid header__container">
    <div class="header__left">
      <a class="logo header__logo" data-goto=".hero-scroll">SneakerShop</a>
    </div>

    <div class="header__right">
      <nav class="nav header__nav" data-menu>
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link" data-goto=".catalog-scroll"
              >Каталог</a
            >
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" data-goto=".about-scroll">О нас</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" data-goto=".select-scroll"
              >Подбор товара</a
            >
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" data-goto=".team-scroll"
              >Наша команда</a
            >
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" data-goto=".delivery-scroll"
              >Доставка и оплата</a
            >
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" data-goto=".contacts-scroll"
              >Контакты</a
            >
          </li>
        </ul>
      </nav>

      <button
        class="burger"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
      </button>

      <div class="cart header__cart">
        <button class="btn-reset cart__btn cart__btn--inactive">
          <svg class="">
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <div class="cart__count">1</div>
        </button>
        <div class="mini-cart">
          <div class="mini-cart__top" data-simplebar>
            <ul class="mini-cart__list list-reset"></ul>
          </div>
          <div class="mini-cart__bottom">
            <div class="mini-cart__itog">
              <span class="mini-cart__txt">Итого:</span>
              <span class="mini-cart__summ">0 $</span>
            </div>
            <button
              class="btn-reset btn btn--primary mini-cart__btn"
              data-graph-path="cart-modal"
            >
              Перейти в корзину
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
