<section class="instagram delivery-scroll">
  <h2 class="visually-hidden">Форма и инстаграм лента</h2>
  <div class="container instagram__container">
    <div class="instagram__left">
      <form action="#" class="callback-form form">
        <h3 class="title instagram__title">Есть вопросы?</h3>
        <p class="instagram__descr">
          Заполните форму, наш менеджер свяжется с вами
        </p>

        <input
          type="text"
          name="Имя"
          class="input-reset form__input form__input-name"
          placeholder="Ваше имя"
        />

        <input
          type="tel"
          name="Телефон"
          class="input-reset form__input form__input-tel"
          placeholder="Ваш номер телефона"
        />
        <button class="btn btn--primary instagram__btn btn-reset form__btn">
          Отправить
        </button>
      </form>
    </div>
    <div class="instagram__right">
      <a href="#" class="instagram__link">
        <img
          loading="lazy"
          src="../img/instagram.png"
          class="image"
          alt="Инстаграм"
        />
      </a>
      <div class="instagram__content">
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img src="img/insta-1.jpg" alt="Фото из Инстаграма" />
        </article>
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img src="img/insta-2.jpg" alt="Фото из Инстаграма" />
        </article>
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img src="img/insta-3.jpg" alt="Фото из Инстаграма" />
        </article>
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img src="img/insta-4.jpg" alt="Фото из Инстаграма" />
        </article>
        <article class="instagram__item">
          <h3 class="instagram__subtitle visually-hidden">Фото чего-то</h3>
          <img src="img/insta-5.jpg" alt="Фото из Инстаграма" />
        </article>
      </div>
    </div>
  </div>
</section>
