<section class="team">
  <img
    loading="lazy"
    src="img/team-figure.svg"
    class="team__figure image"
    alt="About-figure"
    aria-hidden="true"
  />

  <div class="container team__container">
    <h2 class="title team__title">Наша команда</h2>
    <ul class="team__list list-reset grid">
      <li class="team__item">
        <picture>
          <source srcset="img/em1.avif" type="image/avif" />
          <source srcset="img/em1.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/em1.jpg"
            class="image team__img"
            alt="Максим Золотарев"
          />
        </picture>
        <strong class="team__subtitle">Максим Золотарев</strong>
        <div class="team__post">Администратор</div>
      </li>

      <li class="team__item">
        <picture>
          <source srcset="img/em2.avif" type="image/avif" />
          <source srcset="img/em2.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/em2.jpg"
            class="image team__img"
            alt="Анастасия Колядко"
          />
        </picture>
        <strong class="team__subtitle">Анастасия Колядко</strong>
        <div class="team__post">Администратор</div>
      </li>

      <li class="team__item">
        <picture>
          <source srcset="img/em3.avif" type="image/avif" />
          <source srcset="img/em3.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/em3.jpg"
            class="image team__img"
            alt="Мария Шевцова"
          />
        </picture>
        <strong class="team__subtitle">Мария Шевцова</strong>
        <div class="team__post">Администратор</div>
      </li>

      <li class="team__item">
        <picture>
          <source srcset="img/em4.avif" type="image/avif" />
          <source srcset="img/em4.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/em4.jpg"
            class="image team__img"
            alt="Яна Андреева"
          />
        </picture>
        <strong class="team__subtitle">Яна Андреева</strong>
        <div class="team__post">Администратор</div>
      </li>

      <li class="team__item">
        <picture>
          <source srcset="img/em5.avif" type="image/avif" />
          <source srcset="img/em5.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/em5.jpg"
            class="image team__img"
            alt="Кирилл Тугарев"
          />
        </picture>
        <strong class="team__subtitle">Кирилл Тугарев</strong>
        <div class="team__post">Администратор</div>
      </li>

      <li class="team__item">
        <picture>
          <source srcset="img/em6.avif" type="image/avif" />
          <source srcset="img/em6.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/em6.jpg"
            class="image team__img"
            alt="Валентина Хмельникова"
          />
        </picture>
        <strong class="team__subtitle">Валентина Хмелькова</strong>
        <div class="team__post">Администратор</div>
      </li>
    </ul>
  </div>
</section>
