$font-family: "Muller", san-serif;
$content-width: 1110px;
$container-offset: 15px;

//отступы
$grid-gap: 20px;
$main-offset: 40px;

//цвета
$color-eastbay: #484283;
$color-white: #fff;
$color-accernt: #f14f4f;

//шрифты
$middle-high-font: 700 30px / 140% $font-family;
$small-font: 400 14px / 140% $font-family;
