$font-family: "Intro";
$content-width: 1170px;
$container-offset: 15px;

//отступы
$grid-gap: 20px;
$small-offset: 10px;
$main-offset: 40px;
$second-offset: 20px;
$big-offset: 60px;

//цвета
$color-eastbay: #484283;
$color-white: #fff;
$color-black: #000;
$color-accent: #f14f4f;
$color-accent-hover: #cc4949;
$color-border: rgba(255, 255, 255, 0.5);
$color-main: #444b58;
$color-main-hover: #31343c;
$color-bg: #fff4ee;
$color-cameo: #dbbba9;
$color-grey: #b2b5bb;
$color-jambo: #808080;
$color-btn-active: #8c2828;

//шрифты
$middle-high-bold: 700 30px / 140% $font-family;
$prehigh-regular: 600 20px / 20px $font-family;
$prehigh-book: 400 24px / 24px $font-family;
$middle-book: 400 16px / 140% $font-family;
$middle-regular: 600 16px / 140% $font-family;
$small-book: 400 14px / 140% $font-family;
